# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
proj_hls_stream_sorter/nexys_4/syn/*
proj_hls_stream_sorter/nexys_4/impl/*
proj_hls_stream_sorter/nexys_4/.autopilot/*
proj_rtl_stream_sorter_uart/proj_rtl_stream_sorter_uart.runs/*
proj_rtl_stream_sorter_uart/proj_rtl_stream_sorter_uart.cache/*
proj_rtl_stream_sorter_uart/proj_rtl_stream_sorter_uart.srcs/sources_1/ip/stream_sorter_0/*
proj_rtl_stream_sorter_uart/proj_rtl_stream_sorter_uart.hw/*
proj_hls_stream_sorter/.settings/*
proj_hls_stream_sorter/nexys_4/nexys_4.funcunit
proj_hls_stream_sorter/nexys_4/nexys_4_data.json
proj_hls_stream_sorter/nexys_4/nexys_4.log
proj_hls_stream_sorter/nexys_4/.debug/*
proj_hls_stream_sorter/.vivado_hls_log_all.xml
proj_hls_stream_sorter/.apc/*
vivado_hls.log
